{
	storage file_system {
		root /tmp
	}
	admin off
    auto_https off
	persist_config off
  	debug
}

:8080 {
	@health path /health
	handle @health {
		respond "OK" 200
	}
	
	@result_path path /result /result/*
	handle @result_path {
		uri strip_prefix /result
		reverse_proxy result.services:8080 {
			header_up X-Original-URI {uri}
			header_up X-Forwarded-Path /result
		}
	}
	
	@vote_path path /vote /vote/*
	handle @vote_path {
		uri strip_prefix /vote
		reverse_proxy vote.services:8080 {
			header_up X-Original-URI {uri}
			header_up X-Forwarded-Path /vote
		}
	}
	
	@result_domain host result.fivexl.dev
	handle @result_domain {
		reverse_proxy result.services:8080
	}
	
	@vote_domain host vote.fivexl.dev
	handle @vote_domain {
		reverse_proxy vote.services:8080
	}

	@static_domain host static.fivexl.dev
	handle @static_domain {
		respond "hello world!"
	}
	
	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}: {http.error.message}" {http.error.status_code}
	}
	
	log {
		output stdout
		format console
		level DEBUG
	}
}
