{
	storage file_system {
		root /tmp
	}
	admin off
    auto_https off
	persist_config off
  	debug
}

:8080 {
	route /health {
		respond "OK" 200
	}

  redir /result /result/

  handle_path /result/* {
    reverse_proxy result.services:8080
  }

  redir /vote /vote/

  handle_path /vote/* {
    reverse_proxy vote.services:8080
  }

  log {
    output stdout
  }
}

result.fivexl.dev {
	reverse_proxy result.services:8080
}

vote.fivexl.dev {
	reverse_proxy https://vote.services:8080 {
		header_up Host {http.reverse_proxy.upstream.hostport}
		header_up X-Forwarded-Proto {scheme}
		transport http {
			tls_insecure_skip_verify
		}
	}
}

