{
	storage file_system {
		root /tmp
	}
	admin off
    auto_https off
	persist_config off
  	debug
}

:8080 {
	@health path /health
	handle @health {
		respond "OK" 200
	}

	@protected not path /health
	basic_auth @protected {
		fivexl $2a$14$XKJto9Ag.oLaYemhvtytWONHMfT6FFc.ytiJhRXgF9EY0.YUmUghq
	}
	
	@result_domain host result.fivexl.dev
	handle @result_domain {
		reverse_proxy result.services:8080
	}
	
	@vote_domain host vote.fivexl.dev
	handle @vote_domain {
		reverse_proxy vote.services:8080
	}

	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}: {http.error.message}" {http.error.status_code}
	}
	
	log {
		output stdout
		format console
		level DEBUG
	}
}
